###############################################################################
# Offline Package
###############################################################################

*.zip

###############################################################################
# Docker Offline Image
###############################################################################

image-package/
