###############################################################################
# Offline Package
###############################################################################

*.zip

###############################################################################
# Docker Offline Image
###############################################################################

image-package/

###############################################################################
# Python test cache
###############################################################################

__pycache__/
*.py[cod]
